.app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.app-header{
  text-align: center;
  font-size: 32px;
}
.app-body{
  display: flex;
  height: calc(100% - 85px);
  background-color:#EFEFEF;
}
.app-footer{
  height: 100px;
  background-color:#EFEFEF;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.button-section{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.app-button{
    margin: 15px 30px;
    height: 52px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    border-color: unset;
    background-color: #72C3DC;
    border-bottom: 5px solid #2B8EAD;
    cursor: pointer;
}
.app-button:hover{
  background-color: #2B8EAD;
  border-bottom-color: #176fa1;
}

.card-box{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  height: 33%;
}

.card{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  color: #FFFFFF;
}

.color-one{
  background-color: #2F454E;
}
.color-two{
  background-color: #2B8EAD;
}
.color-three{
background-color: #6F98A8;
}
.color-four{
 background-color:#BFBFBF;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .app-header{
    font-size: 20px;
  }
  .app-body{
    height: calc(100% - 25px);
  }
  .app-footer{
    height: 40px;
    font-size: 12px;
  }
  
  .app-button{
      margin: 10px;
      height: 46px;
      font-size: 12px;
      border-bottom: 3px solid #2B8EAD;
  }
 
  .card{
    font-size: 52px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .app-header{
    font-size: 24px;
  }
  .app-body{
    height: calc(100% - 40px);
  }
  .app-footer{
    height: 60px;
    font-size: 14px;
  }
  
  .app-button{
      margin: 12px 15px;
      height: 42px;
      font-size: 12px;
      border-bottom: 5px solid #2B8EAD;
  }
 
  .card{
    font-size: 68px;
  }
}
